@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Arimo", sans-serif;
  background-color: rgb(218, 230, 255);
  margin: 0 auto;
  max-width: 500px;
}

form{
  background-color: rgb(242, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

input,button{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 9px;
  box-sizing: border-box;  /*ให้ทุก element คำนวณขนาดรวม border และ padding เข้าด้วย*/
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

button{
  margin-bottom: 15px;
  transition: 0.3s;
}
