@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Arimo", sans-serif;
  background-color: rgb(218, 230, 255);
}

header,.header_text{
  text-align: center;
}

h1{
  color: darkgreen;
  font-size: 2.3rem;
}

.profile_img {
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
}

header p{
  font-weight: bolder;
  font-size: 1.2rem;
}

.container{
  text-align: center;
}

h2,h3,p,li{
  text-align: left;
}

h2 {
  color: rgb(45, 99, 116);
  text-decoration: underline;
}

section{
  background-color: whitesmoke;
  margin: 20px auto;
  padding: 10px 20px;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px;
}
